.about {
  // margin-top: 120px;
  margin-bottom: 260px;
  background-color: $colorGrey;
  height: 560px;
}

.about-info {
  background-color: $colorDarkBlue;
  color: $colorWhite;
  width: 445px;
  height: 560px;
  padding-left: 95px;
  padding-right: 95px;
  h6 {
    text-transform: uppercase;
    padding-top: 120px;
  }
  h3 {
    padding-top: 60px;
  }
}
.about-content {
  justify-content: center;
  display: grid;
  grid-template-columns: 0.3fr 0.4fr;
  // background-color: $colorWhite;
}
.about-message {
  display: grid;
  grid-template-rows: 280px;
  p {
    background-color: $colorBlue;
    color: $colorWhite;
    padding: 35px 115px 75px 115px;
    height: 370px;
  }
}
