.about {
  .about-content {
    display: grid;
    grid-template-columns: 1fr max-content max-content 0.5fr;
    margin-bottom: 120px;
  }
}
.grey1 {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  background-color: $colorGrey;

  .grey1-color {
    background-color: $colorWhite;
  }
}
.grey2 {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  background-color: $colorGrey;

  .grey2-color {
    background-color: $colorWhite;
  }
}
.coloana-unu {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
}
.doi {
  background-color: $colorWhite;
}
.unu {
  background-color: $colorDarkBlue;
  height: 1fr;
  width: 1fr;
  color: $colorWhite;
  padding-bottom: 233px;
  padding-inline: 95px;

  h6 {
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 120px;
  }
  h3 {
    width: 255px;
  }
}

.coloana-doi {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  .trei {
    height: 100px;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  .patru {
    background-color: $colorBlue;
    padding: 35px 115px 75px 115px;
    p {
      width: 540px;
      line-height: 27px;
      font-size: 18px;
      color: $colorWhite;
    }
  }
}
