.section-about {
  position: relative;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);
    background-color: $colorGrey;
    z-index: -1;

    @media (max-width: 767px) {
      top: 50%;
      width: 50%;
      height: calc(100% + 100px);
      transform: translateY(-50%);
    }
  }

  .container {
    @media (min-width: 768px) {
      grid-template-columns: max-content 1fr;
    }
  }
}

.about-content {
  display: grid;
  align-content: start;
  padding: 120px 95px;
  background-color: $colorDarkBlue;
  color: $colorWhite;

  @media (max-width: 1199px) {
    padding: 50px 30px;
  }

  @media (min-width: 768px) {
    height: calc(100% - 80px);
  }

  h3,
  h6 {
    max-width: 255px;
    font-weight: $font-weight-normal;
  }

  h6 {
    margin-bottom: 60px;
    text-transform: uppercase;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.about-img {
  height: 280px;

  @media (max-width: 1199px) {
    height: 210px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    @media (max-width: 768px) {
      object-position: center;
    }
  }
}

.about-description {
  align-self: start;
  padding: 86px 115px;
  background-color: $colorBlue;
  font-family: $font-family-base;
  font-weight: normal;
  font-style: normal;
  color: $colorWhite;
}
