.burger-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 0;
  margin-right: -12px;
  border: none;
  background-color: transparent;
  color: $colorBlack;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  @media (max-width: 767px) {
    height: 54px;
    width: 54px;
    margin-right: -10px;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .line {
    fill: none;
    stroke: $colorBlack;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 0.5s 0.2s, stroke-dashoffset 0.5s 0.2s, transform 0.5s 0.2s;
  }

  .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0;
  }

  .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0;
  }

  &.is-active {
    .line {
      transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, transform 0.5s;
    }

    &.burger-btn {
      .line1 {
        transform: scale(0, 1);
        transition: transform 0.5s 0.1s;
      }

      .line2 {
        stroke-dasharray: 5px 200;
        stroke-dashoffset: -164px;
      }

      .line3 {
        stroke-dasharray: 5px 179;
        stroke-dashoffset: -142px;
      }
    }

    .icon-cross {
      transform: scale(1);
      transition: transform 0.4s 0.4s;

      .line {
        stroke-width: 5.5px;
      }
    }
  }
}

.icon-cross {
  transform: scale(0);
  transition: unset;

  .line {
    stroke-width: 5.5px;
  }
}
