.dropdown {
  margin-bottom: 120px;

  .container {
    grid-template-columns: max-content auto;
    column-gap: 50px;
    justify-content: center;

    @media (max-width: 769px) {
      grid-template-columns: unset;
      justify-content: start;
      row-gap: 20px;
    }

    p {
      max-width: 760px;
      font-size: 22px;
      line-height: 33px;

      @media (max-width: 1199px) {
        max-width: 500px;
      }

      @media (max-width: 769px) {
        max-width: 100%;
      }
    }

    button {
      cursor: pointer;
      border: 0;
      margin: 0;
      padding: 0;
      background-color: transparent;
      width: max-content;
      height: max-content;
    }
  }
}

.up {
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

.rotate {
  transition: 0.3s ease-in-out;
  transform: rotate(90deg);
  transform-box: fill-box;
  transform-origin: center;
}

.dropdown-description {
  max-width: 760px;
  font-size: 22px;
  line-height: 1.5;
  font-weight: $font-weight-light;

  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
  }

  @media (max-width: 1023px) {
    max-width: 500px;
  }

  @media (max-width: 767px) {
    max-width: unset;
    font-size: 18px;
  }

  &.reveal {
    display: unset;

    p {
      -webkit-line-clamp: unset;

      &:not(:first-of-type) {
        display: block;
      }
    }
  }

  p {
    @include lineClamp(3);
    margin: 0 0 40px;

    @media (max-width: 767px) {
      @include lineClamp(2);
      margin: 0 0 30px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:not(:first-of-type) {
      display: none;
    }
  }
}
