.footer {
  background-color: $colorDarkBlue;
  padding: 50px 0;

  .container {
    display: grid;
    color: $colorWhite;

    @media (min-width: 768px) {
      padding: 70px 0;
    }
    @media (min-width: 1199px) {
      grid-template-columns: max-content max-content;
      grid-column-gap: 125px;
      padding: 120px 0;
    }
  }
}

.footer-left-text {
  @media (max-width: 1199px) {
    margin-bottom: 55px;
  }
  @media (max-width: 768px) {
    margin-bottom: 65px;
  }

  h4 {
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  p {
    width: 100%;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 55px;
    }
    @media (min-width: 1199px) {
      margin-bottom: 80px;
      max-width: 635px;
    }
  }

  a {
    border: none;
    background-color: transparent;
    color: $colorWhite;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.footer-right-text {
  @media (min-width: 1199px) {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    max-width: 350px;
  }
  h4 {
    margin-bottom: 35px;
    @media (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media (min-width: 1199px) {
      margin-bottom: 40px;
    }
  }

  a {
    color: $colorWhite;
  }

  .copyright {
  }
  p {
    @media (min-width: 768px) {
      margin-bottom: 45px;
      max-width: 100%;
    }
    @media (min-width: 1199px) {
      margin-bottom: 50px;
      max-width: 350px;
    }
  }
  span {
    a {
      text-decoration: underline;
    }
    @media (max-width: 1199px) {
      display: none;
    }
  }
}
