.header-main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid $colorGray-100;
  background-color: $colorWhite;
  z-index: $zindex-sticky;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }

  &--unpinned {
    transform: translateY(-100%);
  }
}

.header-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  max-width: 1680px;
  padding: 21px 60px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    max-width: 1024px;
    padding: 10px 36px;
  }

  @media (max-width: 1023px) {
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    padding: 10px 36px;
  }

  @media (max-width: 767px) {
    padding: 10px 12px;
  }
}

.header-logo {
  display: flex;
  width: 100%;
  max-width: 105px;
  height: 68px;

  @media (max-width: 1199px) {
    max-width: 80px;
    height: 52px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.mobile-box {
  display: grid;
  align-content: start;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 72px;
  min-height: calc(100vh - 72px);
  padding: 50px 36px 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: $zindex-fixed;

  @media (min-width: 1024px) {
    display: contents;
  }

  @media (max-width: 1023px) {
    visibility: hidden;
    pointer-events: none;
    background-color: $colorWhite;
    border-top: 1px solid $colorGray-100;
  }

  @media (max-width: 767px) {
    padding: 30px 12px;
  }

  &::before {
    @media (max-width: 1023px) {
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      background-color: $colorWhite;
      opacity: 0;
    }
  }

  nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    row-gap: 20px;
    @include fluidValue(padding-right, 187, 56, 1680, 1200);
    @include fluidValue(column-gap, 120, 56, 1680, 1200);

    @media (max-width: 1199px) {
      gap: 20px 54px;
      justify-content: center;
      padding-right: 0;
    }

    @media (max-width: 1023px) {
      display: grid;
      justify-content: stretch;
      gap: unset;
      margin-bottom: 50px;
      padding-right: 0;
      opacity: 0;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }

    a {
      font-family: $font-ideal-sans;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: $font-weight-medium;
      line-height: 1.5;
      color: $colorBlack;
      transition: color 0.25s ease-in-out;
      text-decoration: none;

      @media (max-width: 1199px) {
        font-size: 14px;
        line-height: 1.5;
      }

      &.show-in-mobile-menu {
        display: none;
      }

      @media (max-width: 1023px) {
        padding: 20px 0;
        font-size: 28px;
        line-height: 36px;
        text-transform: unset;
        font-weight: $font-weight-light;

        + a {
          border-top: 1px solid $colorPink;
        }

        &.show-in-mobile-menu {
          display: unset;
        }
      }

      @media (max-width: 767px) {
        font-size: 20px;
        line-height: 1.2;
        font-weight: $font-weight-normal;
      }

      @media (hover: hover) {
        &:hover {
          color: $colorPink;
        }
      }

      &.active,
      &:active {
        color: $colorPink;
      }
    }
  }

  .btn {
    @media (max-width: 1199px) {
      padding: 13px 23px 14px;
      font-size: 14px;
      line-height: 1.5;
    }

    @media (max-width: 1023px) {
      justify-self: start;
      opacity: 0;
    }

    span {
      &:first-of-type {
        @media (max-width: 1023px) {
          display: none;
        }
      }

      &:nth-of-type(2) {
        display: none;
        @media (max-width: 1023px) {
          display: inline-block;
        }
      }
    }
  }

  &.is-active {
    @media (max-width: 1023px) {
      visibility: visible;
      pointer-events: auto;

      nav,
      .btn {
        opacity: 1;
        transition: opacity 0.3s ease-in-out 0.1s;
      }

      &::before {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}
