.main-header {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content;
  padding-inline: 55px;
  height: 110px;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: $colorBlack;
  }
  .active {
    color: $colorPink;
  }
}

.header-nav {
  display: flex;
  justify-content: center;

  gap: 120px;
}

.header-button {
  background-color: $colorPink;
  padding: 12px 24px 12px 24px;
  border: none;
  a {
    color: $colorWhite;
  }
}
