.section-hero {
}

.section-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 70px;

  h1 {
    margin-top: 120px;
    @include lineClamp(7);
  }

  h4 {
    margin-top: 60px;
  }

  p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 28px;
  }

  img {
    margin-top: 52px;
    margin-bottom: 120px;
  }
}

.hero-content {
  padding-left: 105px;
}

.active {
  color: $colorPink;
  text-transform: uppercase;
}
