.section-hero {
  padding-top: 52px;
  padding-bottom: 120px;
}
.section-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 70px;

  h1 {
    margin-top: 68px;
    @include lineClamp(7);
    margin-bottom: 60px;
  }
}

.hero-description {
  max-width: 445px;
  margin-top: 40px;
  font-size: 24px;
  line-height: 28px;
}
.active {
  color: $colorPink;
  text-transform: uppercase;
}
