.section-hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 70px;
  padding-top: 52px;
  padding-bottom: 120px;

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: auto;
    row-gap: 40px;
  }

  h1 {
    padding-top: 68px;
    margin-bottom: 60px;

    @media (max-width: 1199px) {
      padding-top: 30px;
      margin-bottom: 30px;
    }
    @media (max-width: 767px) {
      padding-top: 50px;
      margin-bottom: 40px;
      width: 100%;
    }
  }

  h4 {
    color: $colorPink;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 40px;

    @media (max-width: $screenTablet) {
      margin-bottom: 20px;
    }
  }
}

.hero-img {
  display: grid;

  @media (max-width: 1199px) {
    img {
      width: 100%;
    }
  }
}

.hero-description {
  font-size: 24px;
  line-height: 28px;
  max-width: 445px;

  @media (max-width: $screenTablet) {
    margin-top: 20px;
  }
}
