.non-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
.mobile {
  @media (min-width: 768px) {
    display: none;
  }
  .axis {
    margin-bottom: 40px;
    position: relative;
    span {
      display: inline-block;
      padding: 20px 0;
    }
    &::before {
      position: absolute;
      bottom: 0;
      content: "";
      width: 100%;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(248, 248, 248, 0.09),
        rgba(252, 252, 252, 1)
      );
    }
    &::after {
      position: absolute;
      top: 35%;
      right: 0;
      content: "";
      height: 11px;
      width: 11px;
      background-color: $colorPink;
      border-radius: 50%;
    }
  }
  .slide-info {
    width: 100%;
    margin-bottom: 50px;
    h3 {
      font-style: italic;
      font-family: $font-mercury;
      font-weight: 400;
      margin-bottom: 20px;
    }

    h4 {
      font-style: italic;
      font-family: $font-ideal-sans;
      font-weight: 400;
      margin-bottom: 15px;
    }

    span {
      display: inline-block;
      font-family: $font-ideal-sans;
      font-weight: $font-weight-medium;
    }

    p {
      font-family: $font-ideal-sans;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 35px;
    }

    a {
      color: $colorWhite;
      text-transform: uppercase;
      font-family: $font-ideal-sans;
      font-weight: $font-weight-semibold;
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      gap: 20px;

      img {
        align-items: center;
      }
    }
    .slide-icon {
      margin-bottom: 20px;
    }
  }
  .slide-2 {
    circle {
      fill: $colorOrange;
    }
  }
  .slide-3 {
    circle {
      fill: $colorRed;
    }
  }
  .slide-4 {
    circle {
      fill: $colorGreen;
    }
  }
  .slide-5 {
    circle {
      fill: $colorBlue;
    }
  }
}
