.section-journey {
  background-color: $colorSky;
  padding: 120px 0;
  color: $colorWhite;
  .container {
    overflow: hidden;
  }
}

.journey-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-bottom: 80px;
  gap: 227px;
  @include fluidValue("gap", 227, 64, 2000, 1200);
  @include fluidValue("gap", 64, 20, 1199, 768);
  h3 {
    max-width: 343px;
    font-family: $font-family-base;
    font-weight: normal;
  }
}
.description {
  max-width: 540px;
  justify-self: end;

  em {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 33px;
    font-family: $font-mercury;
  }

  p {
    font-family: $font-family-base;
    font-weight: normal;
  }
}
