.section-journey {
  background-color: $colorSky;
  padding: 120px 0;
  color: $colorWhite;
}

.journey-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-bottom: 80px;
  gap: 64px;

  h3 {
    max-width: 343px;
    font-family: $font-family-base;
    font-weight: normal;
  }
}

.description {
  max-width: 540px;
  justify-self: end;

  em {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 33px;
    font-family: $font-mercury;
  }

  p {
    font-family: $font-family-base;
    font-weight: normal;
  }
}

// ...................axis..........................//

.years-axis {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 196px;
  justify-items: start;
  margin-left: -50px;
  position: relative;
  padding-bottom: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 1320px;
    height: 1px;
    background: linear-gradient(
      to right,
      rgba(248, 248, 248, 0.09),
      rgba(252, 252, 252, 1)
    );
    top: 5px;
    left: -57px;
  }

  button {
    margin: 0;
    padding: 30px 0 0 0;
    border: 0;
    background: transparent;
    color: $colorWhite;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 11px;
      height: 11px;
      background: $colorWhite;
      top: 0px;
      left: 49%;
      border-radius: 10.5px;
    }
  }

  button:last-of-type {
    &::after {
      display: none;
    }
  }

  button:hover {
    &::before {
      background: $colorPink;
      animation: scaleIn 1s infinite ease-in;

      @keyframes scaleIn {
        from {
          transform: scale(1, 1);
          opacity: 0.5;
        }

        to {
          transform: scale(2.5, 2.5);
        }
      }
    }
  }
}

.slide-info {
  max-width: 440px;
  padding-top: 55px;

  .slide-icon {
    display: grid;
    background-color: $colorPink;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    margin-bottom: 37px;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-style: italic;
    font-family: $font-mercury;
    font-weight: 400;
    margin-bottom: 17px;
  }

  h4 {
    font-style: italic;
    font-family: $font-ideal-sans;
    font-weight: 400;
    margin-bottom: 17px;
  }

  span {
    display: inline-block;
    font-family: $font-ideal-sans;
    font-weight: $font-weight-medium;
  }

  p {
    font-family: $font-family-base;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 35px;
  }

  a {
    color: $colorWhite;
    text-transform: uppercase;
    font-family: $font-ideal-sans;
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 20px;

    img {
      align-items: center;
    }
  }
}
.slide-image1,
.slide-image2,
.slide-image3 {
  height: 100%;
  width: 100%;
}
.slide-image2 {
  background-color: red;
}
.slide-image3 {
  background-color: green;
}

// ............................swiper.......................//
.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  height: 600px;
}
.swiper-slide {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 85px;
  object-fit: contain;
}

//..............................//
.frame {
  position: absolute;
  z-index: 1;
  top: 40px;

  .frame-bar {
    background-color: $colorGrey;
    height: 20px;
    width: 692px;
    border-radius: 6px 6px 0px 0px;

    &::after {
      content: "";
      position: absolute;
      top: 410px;
      left: 0;
      background-color: $colorWhite;
      height: 9px;
      width: 692px;
      border-radius: 0px 0px 6px 6px;
    }
  }
  .circles {
    display: flex;
    padding: 7px;
  }

  .circle {
    background-color: yellow;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-left: 16px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }

    &::before {
      background-color: $colorOrange;
      left: 8px;
    }

    &::after {
      background-color: $colorGreen;
      left: 38px;
    }
  }
}
.sky {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 49%;
}
