.section-message {
  margin-bottom: 100px;
  position: relative;

  .container {
    @media (min-width: 767px) {
      grid-template-columns: max-content 1fr;
    }

    &::before,
    &::after {
      position: absolute;
      width: calc(50% - 200px);
      z-index: -1;
    }

    &::before {
      content: "";
      top: 0;
      left: 0;
      @include fluidValue(height, 1016, 391, 767, 320);
      background-color: $colorBlue;

      @media (min-width: 768px) {
        height: calc(100% - 657px);
      }
      @media (min-width: 1199px) {
        height: calc(100% - 264px);
      }
    }

    &::after {
      @media (min-width: 768px) {
        content: "";
        bottom: 0;
        right: 0;
        background-color: $colorOrange;
        height: 532px;
      }

      @media (min-width: 1200px) {
        height: 423px;
      }
    }
  }
}

.message-contact {
  background-color: $colorGreen;
  color: $colorWhite;
  font-family: $font-family-base;

  @media (min-width: 768px) {
    width: 320px;
  }

  @media (min-width: 1199px) {
    width: 445px;
  }

  a {
    color: $colorWhite;
  }
}

.message-contact-info {
  padding: 40px 25px;

  @media (min-width: 1199px) {
    padding: 40px 65px 59px 65px;
  }

  h4 {
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 11px;
  }
}

.message-img {
  display: grid;

  img {
    width: 100%;
  }
}

.message-description {
  padding: 70px 60px;
  font-family: $font-family-base;
  background-color: $colorLightBlue;

  @media (min-width: 768px) {
    margin-top: 120px;
  }

  @media (min-width: 1199px) {
    padding: 120px 115px 93px 115px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.message-subtitle {
  display: inline-block;
  margin-bottom: 30px;
  color: $colorPink;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
}
