.section-message {
  margin-bottom: 100px;
  position: relative;
  .container {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(50% - 607px);
  }
  &::before {
    top: 0;
    left: 0;
    width: calc(50% - 607px);
    height: calc(100% - 254px);
    background-color: $colorBlue;
  }
  &::after {
    bottom: 0;
    right: 0;
    height: calc(100% - 355px);
    background-color: $colorOrange;
  }
}
.message-contact-info {
  background-color: $colorGreen;
  color: $colorWhite;
  padding: 40px 65px 60px 65px;
  position: absolute;
  bottom: 0;
  p {
    padding-top: 18px;
  }
  a {
    padding-top: 11px;
  }
}
.message-image {
  img {
    display: block;
  }
}
.message-contact {
  position: relative;
  // min-height: 777px;
  // TODO MARK: change the first block to have an after for the img component
  // TODO MARK : change the background to the whole div, add align self stretch
}
.message-description {
  //TODO: add margin top 120px instead of align self end
  margin-top: 120px;
  position: relative;
  padding: 120px 115px 93px 115px;
  background-color: $colorLightBlue;
  align-self: end;
  h2 {
    margin-bottom: 20px;
  }
  h5 {
    //line height 33px nu 22 tre de controlat fonturile
    margin-bottom: 30px;
    color: $colorPink;
  }
}
