.section-message {
  margin-bottom: 100px;
  position: relative;
  .container {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(50% - 607px);
    height: calc(100%);
    background-color: $colorBlue;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(50% - 607px);
    height: 700px;
    background-color: $colorOrange;
    z-index: -1;
  }
}
.message-contact-info {
  max-width: 445px;
  background-color: $colorGreen;
  color: $colorWhite;
  padding: 40px 65px 60px 65px;
  position: absolute;
  bottom: 0;
}
.message-image {
  img {
    display: block;
  }
}
.message-contact {
  position: relative;
  min-height: 777px;
}
.message-description {
  position: relative;
  .description-text {
    position: absolute;
    background-color: $colorLightBlue;
    padding: 120px 115px 93px 115px;
    max-height: 700px;
    bottom: 0;
  }
}
