.section-nihil {
  justify-content: center;
  display: grid;
  padding: 50px 0;

  @media (min-width: 1199px) {
    padding: 100px 0;
  }
  h2,
  p {
    font-style: italic;
    max-width: 790px;
    justify-items: center;
  }
  h2 {
    margin-bottom: 20px;
  }
}
