.section-space {
  position: relative;
  margin-top: 120px;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 50%;
    background-color: $colorGrey;
    z-index: -1;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .space-content {
    padding: 171px 0;
    align-self: center;

    @media (max-width: 1199px) {
      max-width: 100%;
    }

    h2 {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-family: $font-family-base;
      font-weight: normal;
      padding-bottom: 20px;
      max-width: 460px;

      @media (max-width: 1199px) {
        font-family: $font-mercury;
        font-style: italic;
        font-size: 16px;
        line-height: 24px;
      }
    }

    a {
      color: $colorPink;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: normal;
    }

    img {
      padding-left: 22px;
    }
  }

  .space-slider {
    padding: 100px 0 100px 0;
    position: relative;
    align-self: center;
    justify-self: center;

    &::before {
      content: "";
      position: absolute;
      right: calc(50%);
      width: 100%;
      top: 0;
      height: 100%;
      background-color: $colorGrey;
      z-index: -1;
    }

    .circle-outside {
      justify-self: center;
      border: solid 2px $colorPink;
      background: transparent;
      border-radius: 50%;
      width: 480px;
      height: 480px;
      animation: rotate 25s infinite linear;

      @media (max-width: 1199px) {
        border: solid 1px $colorPink;
        max-width: 280px;
        max-height: 280px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 160px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 5px $colorPink;
        background-color: $colorWhite;
        animation: color 25s infinite;

        @keyframes color {
          10% {
            transform: rotate(0deg);
            border: solid 5px $colorPink;
          }

          16% {
            transform: rotate(60deg);
            border: solid 5px orange;
          }
          24% {
            transform: rotate(90deg);
            border: solid 5px green;
          }

          40% {
            transform: rotate(150deg);
            border: solid 5px orange;
          }

          56% {
            transform: rotate(210deg);
            border: solid 5px blue;
          }
          64% {
            transform: rotate(0deg);
            border: solid 5px yellow;
          }

          80% {
            transform: rotate(0deg);
            border: solid 5px orange;
          }
          100% {
            transform: rotate(0deg);
            border: solid 5px red;
          }
          90% {
            transform: rotate(0deg);
            border: solid 5px blue;
          }
        }

        @media (max-width: 1199px) {
          top: 95px;
          width: 11px;
          height: 11px;
          border: solid 2px $colorPink;
        }
      }
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
        border: solid 1.8px $colorPink;
      }
      8% {
        transform: rotate(30deg);
        border: solid 1.8px red;
      }
      16% {
        transform: rotate(60deg);
        border: solid 1.8px orange;
      }
      24% {
        transform: rotate(90deg);
        border: solid 1.8px green;
      }
      32% {
        transform: rotate(120deg);
        border: solid 1.8px red;
      }
      40% {
        transform: rotate(150deg);
        border: solid 1.8px orange;
      }
      48% {
        transform: rotate(180deg);
        border: solid 1.8px yellowgreen;
      }
      56% {
        transform: rotate(210deg);
        border: solid 1.8px blue;
      }
      64% {
        transform: rotate(240deg);
        border: solid 1.8px yellow;
      }
      72% {
        transform: rotate(270deg);
        border: solid 1.8px blue;
      }
      80% {
        transform: rotate(300deg);
        border: solid 1.8px orange;
      }
      95% {
        transform: rotate(330deg);
        border: solid 1.8px red;
      }
      100% {
        transform: rotate(360deg);
        border: solid 1.8px blue;
      }
    }
  }
}

.space-wrapper {
  display: grid;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $colorWhite;
  border: solid 1px $colorPink;
  align-items: center;
  justify-content: center;

  animation: colorcircle 25s step-end infinite;

  @keyframes colorcircle {
    100% {
      border: solid 0.67px $colorPink;
    }
    8% {
      border: solid 0.67px red;
    }
    16% {
      border: solid 0.67px orange;
    }
    24% {
      border: solid 0.67px green;
    }
    32% {
      border: solid 0.67px red;
    }
    40% {
      border: solid 0.67px orange;
    }
    48% {
      border: solid 0.67px yellowgreen;
    }
    56% {
      border: solid 0.67px blue;
    }
    64% {
      border: solid 0.67px yellow;
    }
    72% {
      border: solid 0.67px blue;
    }
    80% {
      border: solid 0.67px orange;
    }
    95% {
      border: solid 0.67px red;
    }
    100% {
      border: solid 0.67px blue;
    }
  }
  .space-icon {
    width: 80px;
    height: 80px;
    fill: $colorWhite;
    circle {
      fill: $colorPink;
    }
  }
}
.space-pagination {
  display: flex;
  justify-content: center;
}
