.section-space {
  position: relative;
  margin: 0px 0 100px;
  @media (max-width: 767px) {
    margin: 0px 0 50px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $colorGrey;
    z-index: -1;
    @media (max-width: 767px) {
      width: 100%;
      height: 50%;
      top: 50%;
    }
  }

  .container {
    display: grid;
    @media (max-width: 767px) {
      overflow: hidden;
    }
    @media (min-width: 768px) {
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
      @include fluidValue(column-gap, 190, 77, 1680, 768);
    }
  }

  .space-content {
    padding: 171px 0;
    align-self: center;

    @media (max-width: 1199px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      padding: 0px 0px 50px 0px;
      width: 100%;
    }

    h2 {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-family: $font-family-base;
      font-weight: normal;
      padding-bottom: 20px;
      max-width: 460px;

      @media (max-width: 1199px) {
        font-family: $font-mercury;
        font-style: italic;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
      }
      @media (max-width: 767px) {
        max-width: 100%;
      }
    }

    a {
      color: $colorPink;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    svg {
      margin-left: 22px;
    }
  }

  .swiper-slide {
    display: grid;
    justify-content: center;
    border: 1px solid currentColor;
    border-radius: 50%;
    background-color: $colorWhite;
    align-items: center;
    img {
      margin-bottom: 17px;
      @media (max-width: 1199px) {
        width: 60px;
        justify-self: center;
        align-self: center;
      }
    }
  }
}

.space-wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;

  @media (max-width: 767px) {
    grid-row: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $colorGrey;
    z-index: -1;
    transform: translateX(-50%);

    @media (max-width: 767px) {
      transform: translateY(50%);
      left: -15px;
      width: 100vw;
    }
  }
}

.space-box {
  @media (max-width: 767px) {
    margin-top: 6px;
  }
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include fluidValue(width, 480, 276, 1680, 768);
  @include fluidValue(height, 480, 276, 1680, 768);
}

.big-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: $colorPink;
  border: 1px solid currentColor;
  animation: rotateAnimation 16s linear infinite;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 33%;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: $colorWhite;
    border-radius: 50%;
    border: 5px solid currentColor;

    @media (max-width: 1199px) {
      width: 12px;
      height: 12px;
      border-width: 3px;
    }
  }

  &-1 {
    color: $colorOrange;
  }

  &-2 {
    color: $colorBlue;
  }

  &-3 {
    color: $colorGreen;
  }

  &-4 {
    color: $colorBlack;
  }

  &-5 {
    color: $colorRed;
  }

  &-6 {
    color: $colorDarkBlue;
  }

  &-7 {
    color: $colorYellow;
  }

  &-8 {
    color: $colorBlue;
  }

  &-9 {
    color: $colorGreen;
  }

  &-10 {
    color: $colorMint;
  }

  &-11 {
    color: $colorDarkBlue;
  }
}

.circle-slider {
  display: grid;
  width: 100% !important;
  height: 100% !important;
  @include fluidValue(padding, 100, 60, 1199, 768);
  @media (min-width: 768px) {
    overflow: hidden;
  }
  .swiper-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    transform: translate3d(0, 0, 0) !important;

    color: $colorPink;
    &.slide-1 {
      color: $colorOrange;
    }

    &.slide-2 {
      color: $colorBlue;
    }

    &.slide-3 {
      color: $colorGreen;
    }

    &.slide-4 {
      color: $colorBlack;
    }

    &.slide-5 {
      color: $colorRed;
    }

    &.slide-6 {
      color: $colorDarkBlue;
    }

    &.slide-7 {
      color: $colorYellow;
    }

    &.slide-8 {
      color: $colorBlue;
    }

    &.slide-9 {
      color: $colorGreen;
    }

    &.slide-10 {
      color: $colorMint;
    }

    &.slide-11 {
      color: $colorDarkBlue;
    }
  }

  .swiper-slide {
    transition-duration: 0ms !important;

    &:not(.swiper-slide-active) {
      visibility: hidden;
      opacity: 0 !important;
      pointer-events: none;
      transition: opacity 0.5s linear !important;
      height: 0;
    }

    &-active {
      height: 100%;
      visibility: visible;
      opacity: 1 !important;
      pointer-events: auto;
      align-content: center;
    }
  }
}
.pagination {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
  color: black;
  align-items: center;
  justify-content: center;
}
.pagination-counter {
  color: black;
  display: flex;
  justify-self: center;
}

@keyframes rotateAnimation {
  100% {
    transform: rotateZ(360deg);
  }
}
