.section-space {
  position: relative;
  margin-top: 120px;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 50%;
    background-color: $colorGrey;
    z-index: -1;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }

  .space-content {
    padding: 171px 0;
    align-self: center;

    @media (max-width: 1199px) {
      max-width: 100%;
    }

    h2 {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: normal;
      margin-bottom: 20px;
    }

    p {
      font-family: $font-family-base;
      font-weight: normal;
      padding-bottom: 20px;
      max-width: 460px;

      @media (max-width: 1199px) {
        font-family: $font-mercury;
        font-style: italic;
        font-size: 16px;
        line-height: 24px;
      }
    }

    a {
      color: $colorPink;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: normal;
    }

    img {
      padding-left: 22px;
    }
  }

  .space-slider {
    padding: 100px 0 100px 0;
    position: relative;
    align-self: center;
    justify-self: center;

    &::before {
      content: "";
      position: absolute;
      right: calc(50%);
      width: 100%;
      top: 0;
      height: 100%;
      background-color: $colorGrey;
      z-index: -1;
    }

    .circle-outside {
      justify-self: center;
      border: solid 2px $colorPink;
      background: transparent;
      border-radius: 50%;
      width: 480px;
      height: 480px;
      animation: arc 10s infinite linear;

      @media (max-width: 1199px) {
        border: solid 1px $colorPink;
        max-width: 280px;
        max-height: 280px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 160px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: solid 5px $colorPink;
        background-color: $colorWhite;

        @media (max-width: 1199px) {
          top: 95px;
          width: 11px;
          height: 11px;
          border: solid 2px $colorPink;
        }
      }
    }

    @keyframes arc {
      0% {
        transform: translate(0px) rotate(0deg);
      }

      100% {
        transform: translate(0px) rotate(360deg);
      }
    }
  }
}
.space-wrapper {
  display: grid;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $colorWhite;
  border: solid 1px $colorPink;
  align-items: center;
  justify-content: center;
  .space-icon {
    width: 80px;
    height: 80px;
    fill: $colorWhite;
    circle {
      fill: $colorPink;
    }
  }
}
.space-pagination {
  display: flex;
  justify-content: center;
}
