/* Journey Pagination */
.journey-pagination {
  position: relative;
  display: flex;
  @include fluidValue(gap, 194, 77, 1680, 768);
  @include fluidValue(width, 1320, 750, 1680, 768);
  margin: 0 auto 60px;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      rgba(132, 191, 65, 0.09),
      rgba(252, 252, 252, 1)
    );
    border-image-slice: 1;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.journey-bullet {
  position: relative;
  display: grid;
  justify-items: center;
  @include fluidValue(padding-top, 15, 25, 1680, 768);
  @include fluidValue(font-size, 18, 16, 1680, 768);
  color: $colorWhite;
  font-weight: $font-weight-normal;
  font-style: italic;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: currentColor;
    transition: background-color 0.5s ease-in;
    z-index: 1;
  }

  &.is-active {
    &::before {
      background-color: $colorPink;
      animation: pulsePaginationBulletAnimation 2s infinite;
    }
  }
  @keyframes pulsePaginationBulletAnimation {
    0% {
      box-shadow: 0 0 0 0 rgba($colorPink, 0.4);
    }

    70% {
      box-shadow: 0 0 0 10px rgba($colorPink, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba($colorPink, 0);
    }
  }
}

.journey-container {
  position: relative;
  display: flex;
  height: 550px;
  width: max-content;
}

.journey-slider {
  overflow: hidden;

  .swiper-slide {
    display: grid;
    top: 0;
    grid-template-columns: max-content 1fr;
    @include fluidValue(gap, 110, 84, 1680, 1200);
    @include fluidValue(gap, 10, 30, 1199, 768);
    opacity: 0 !important;
    &.swiper-slide-active {
      opacity: 1 !important ;
    }
  }
}
.slide-info {
  @include fluidValue(width, 415, 296, 1680, 768);
  h3 {
    font-style: italic;
    font-family: $font-mercury;
    font-weight: 400;
    margin-bottom: 17px;
  }

  h4 {
    font-style: italic;
    font-family: $font-ideal-sans;
    font-weight: 400;
    margin-bottom: 17px;
  }

  span {
    display: inline-block;
    font-family: $font-ideal-sans;
    font-weight: $font-weight-medium;
  }

  p {
    font-family: $font-family-base;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 35px;
    margin-top: 0;
  }

  a {
    color: $colorWhite;
    text-transform: uppercase;
    font-family: $font-ideal-sans;
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 20px;
  }
}

.slide-icon {
  margin-bottom: 37px;
  circle {
    fill: $colorPink;
  }

  path {
    fill: $colorWhite;
  }

  .slide-2 & {
    circle {
      fill: $colorYellow;
    }
  }

  .slide-3 & {
    circle {
      fill: $colorRed;
    }
  }

  .slide-4 & {
    circle {
      fill: $colorGreen;
    }
  }

  .slide-5 & {
    circle {
      fill: $colorBlue;
    }
  }
}

.slide-icon {
  margin-bottom: 37px;

  @media (min-width: 1199px) {
    width: 90px;
    height: 90px;
  }

  circle {
    fill: $colorPink;
  }

  path {
    fill: $colorWhite;
  }

  .slide2 & {
    circle {
      fill: $colorYellow;
    }
  }

  .slide3 & {
    circle {
      fill: $colorRed;
    }
  }

  .slide4 & {
    circle {
      fill: $colorGreen;
    }
  }

  .slide5 & {
    circle {
      fill: $colorBlue;
    }
  }
}

.slide-image {
  position: relative;
  height: 100%;
  max-width: 691px;
  @media (max-width: 1199px) {
    max-width: 335px;
    display: grid;
    align-items: center;
  }

  .sky {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-height: 525px;
    max-width: 540px;
    @media (max-width: 1199px) {
      max-height: 307px;
      max-width: 262px;
    }
  }
  .sky {
    &.borderPink {
      border-bottom: 7px solid $colorPink;
      max-width: 540px;
    }
    &.borderYellow {
      border-bottom: 7px solid $colorYellow;
      max-width: 540px;
    }

    &.borderRed {
      border-bottom: 7px solid $colorRed;
      max-width: 540px;
    }

    &.borderGreen {
      border-bottom: 7px solid $colorGreen;
      max-width: 540px;
    }

    &.borderBlue {
      border-bottom: 7px solid $colorBlue;
      max-width: 540px;
    }
  }
}
.frame {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 40px;
  z-index: 1;
  background-color: $colorGrey;
  border-bottom: 8px solid $colorGrey;
  border-radius: 6px;
  height: max-content;
  @media (max-width: 1199px) {
    top: unset;
    border-bottom: 2px solid $colorGrey;
  }
  img {
    background-color: $colorWhite;
    height: 100%;
    width: 100%;
  }
}
.circles {
  display: grid;
  @include fluidValue(width, 55, 28, 1680, 768);
  @include fluidValue(height, 22, 9, 1680, 768);
}
.circle {
  position: relative;
  align-self: center;
  justify-self: center;
  @include fluidValue(width, 8, 4, 1680, 768);
  @include fluidValue(height, 8, 4, 1680, 768);
  background-color: $colorYellow;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    @include fluidValue(width, 8, 4, 1680, 768);
    @include fluidValue(height, 8, 4, 1680, 768);
  }
  &::before {
    background-color: $colorRed;
    @include fluidValue("right", 16, 8, 1680, 768);
  }
  &::after {
    background-color: $colorGreen;
    @include fluidValue("left", 16, 8, 1680, 768);
  }
}
.swiper-slide-active {
  .slide-info {
    animation: slide-up 0.5s linear;

    a {
      align-items: center;
      &:hover {
        img {
          animation: to-right 0.5s ease-in;
        }
      }
    }
  }
}

@keyframes slide-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0, 0, 0);
  }
  100% {
    transform: translateY(100, 0, 0);
  }
}

@keyframes zoomAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
@keyframes to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}
@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
