.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 550px;
  display: flex;
  position: relative;
}

.swiper-slide {
  max-width: $container-max-width;
  position: absolute;
  top: 0;
}
.slide1 {
  left: 0;
}
.slide2 {
  left: 100%;
}
.slide3 {
  left: 200%;
}
.slide4 {
  left: 300%;
}
.slide5 {
  left: 400%;
}
.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-content: space-between;
  gap: 90px;
  .slide-info {
    max-width: 440px;
    padding-top: 55px;

    .slide-icon {
      display: grid;
      background-color: $colorPink;
      width: 90px;
      height: 90px;
      border-radius: 45px;
      margin-bottom: 37px;
      justify-content: center;
      align-items: center;
    }

    h3 {
      font-style: italic;
      font-family: $font-mercury;
      font-weight: 400;
      margin-bottom: 17px;
    }

    h4 {
      font-style: italic;
      font-family: $font-ideal-sans;
      font-weight: 400;
      margin-bottom: 17px;
    }

    span {
      display: inline-block;
      font-family: $font-ideal-sans;
      font-weight: $font-weight-medium;
    }

    p {
      font-family: $font-family-base;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 35px;
    }

    a {
      color: $colorWhite;
      text-transform: uppercase;
      font-family: $font-ideal-sans;
      font-weight: $font-weight-semibold;
      letter-spacing: 1px;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      gap: 20px;

      img {
        align-items: center;
      }
    }
  }
  /*slide info */
  .frame {
    position: absolute;
    z-index: 1;
    top: 40px;

    .frame-bar {
      background-color: $colorGrey;
      height: 20px;
      width: 692px;
      border-radius: 6px 6px 0px 0px;

      &::after {
        content: "";
        position: absolute;
        top: 410px;
        left: 0;
        background-color: $colorWhite;
        height: 9px;
        width: 692px;
        border-radius: 0px 0px 6px 6px;
      }
    }
    .circles {
      display: flex;
      padding: 7px;
    }

    .circle {
      background-color: yellow;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-left: 16px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 50%;
      }

      &::before {
        background-color: $colorOrange;
        left: 8px;
      }

      &::after {
        background-color: $colorGreen;
        left: 38px;
      }
    }
  }
  .sky {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 49%;
  }
}

.swiper-pagination {
  display: flex;
  gap: 265px;
  margin: 100px 0;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 1320px;
    height: 2px;
    top: 4px;
    background: linear-gradient(
      135deg,
      rgba(248, 248, 248, 0.089953) 0%,
      #fcfcfc 100%
    );

    left: -100px;
    .container {
      overflow: visible;
    }
  }
}
.swiper-pagination-bullet {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: grid;
  justify-content: center;
}
.swiper-pagination-bullet-active {
  background-color: $colorPink;
  display: grid;
  justify-content: center;
  position: relative;
}

.year {
  display: inline-block;
  margin-top: 15px;
  width: max-content;
}
