.section-ids {
  @include fluidValue(padding-bottom, 80, 40, 1680, 768);
  position: relative;
  &::before {
    content: "";
    transform: translateX(-50%);
    width: 100%;
    @include fluidValue(height, 576, 492, 1680, 768);
    z-index: -1;
    background-color: $colorGrey;
    position: absolute;
    left: 0;
    top: 100px;
    @media (max-width: 1199px) {
      top: 30px;
    }
    @media (max-width: 768px) {
      top: -20px;
      height: 100%;
    }
  }

  .container {
    position: relative;
    @media (max-width: 767px) {
      display: contents;
    }
  }
}

.ids-image {
  @media (min-width: 768px) {
    overflow: hidden;
    justify-self: flex-end;
    min-width: 542px;
    justify-self: flex-end;
    min-height: 553px;
  }

  @media (min-width: 1199px) {
    max-width: 894px;
  }

  img {
    @media (min-width: 768px) {
      object-fit: cover;
      object-position: right;
    }
    object-fit: cover;
    object-position: end;
    max-width: 100%;
  }
  &.mobile {
    width: 100%;
  }
}

.ids-info {
  background-color: $colorOrange;
  color: $colorWhite;
  font-family: $font-ideal-sans;
  font-style: italic;
  padding: 50px 12px;

  @media (min-width: 767px) {
    top: 70px;
    padding: 60px;
    position: absolute;
    justify-self: flex-start;
    z-index: 1;
  }

  @media (min-width: 1199px) {
    top: 139px;
    font-style: normal;
    font-family: $font-family-base;
    padding: 100px;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: normal;
  }

  p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: 768px) {
      max-width: 336px;
    }

    @media (min-width: 1199px) {
      max-width: 540px;
      font-size: 20px;
      line-height: 27px;
    }
  }
}
