<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,
          user-scalable=no,
          initial-scale=1.0,
          maximum-scale=1.0,
          minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:title" content="Home Page" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="description" content="Home Page Description" />
    <meta name="keywords" content="Home Page Keywords" />
    <title>Home Page</title>
    <!-- <link rel="shortcut icon" href="img/favicon/favicon.ico" /> -->
    <link rel="stylesheet" href="css/app.css" />
  </head>
  <!-- .main-header -->

  <body>
    <header class="header-main">
      <div class="header-container">
        <a href="/" class="header-logo">
          <img src="../../img/logo.svg" alt="IDS logo" />
        </a>
        <!-- .header-log -->
        <nav class="header-nav">
          <a class="active" href="#">About us</a>
          <a href="#">Knowledge Management Journey</a>
          <a href="#">Knowledge Solutions</a>
        </nav>
        <!-- .header-nav -->
        <a
          class="btn primary"
          href="pdf/Manual.pdf"
          title="Download link"
          target="_blank"
          rel="noopener noreferrer"
          aria-labelledby="Download pdf file"
          download="Manual.pdf"
          >Download PDF</a
        >
      </div>
      <!-- .header-container -->
    </header>
    <main class="main-wrapper">
      <section class="section-hero">
        <div class="container section-hero-container">
          <div class="hero-content">
            <h1>Welcome to the insert some lorem copy here</h1>
            <h4 class="active">Vision, Learning, Collaboration.</h4>
            <div class="hero-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
          <div class="hero-img">
            <img
              src="/img/joystick.svg"
              alt="cosmonaut stading on a joystick and dabbing"
            />
          </div>
        </div>
      </section>
      <!-- .section-hero -->
      <section class="about">
        <div class="container">
          <div class="about-content">
            <div class="about-info">
              <h6>about</h6>
              <h3>IDS&apos;s Knowledge Management in Action</h3>
            </div>
            <div class="about-message">
              <img src="../../img/space.svg" alt="space image" />
              <p>
                Sed metus ligula, auctor eget sagittis eu, elementum vel est.
                Nam in dolor bibendum, mollis felis eget, ullamcorper odio.
                Praesent nunc nisi, rutrum mollis cursus vel, aliquet a nunc.
                Sed a varius sapien. Nulla et massa faucibus, pharetra felis at,
                aliquam neque. Maecenas volutpat malesuada erat eu finibus.
                Proin in magna id massa pharetra rutrum eu nec est. Etiam
                ultrices tortor sapien, placerat ultrices nisl viverra non.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- .section-about -->

      <section class="message">
        <div class="message-content">
          <div class="blue"></div>

          <div class="image-component">
            <img
              src="../../img/cosmonaut-fishing.svg"
              alt="cosmonaut standing on the moon and fishing stars"
            />
            <div class="contact-info">
              <h4>Lord Voldemort</h4>
              <p>
                Vice-President for Knowledge Management and Sustainable
                Development Activities
              </p>
              <a href="mailto:lordVoldemort@example.com"
                >lordVoldemort@example.com</a
              >
            </div>
          </div>
          <div class="message-text">
            <h3>IDS's Message</h3>
            <h5>
              Knowledge management has always been intertwined with the work of
              Insomniac Design Study (IDS).
            </h5>
            <p>
              Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat
              volutpat. Curabitur ante lorem, vehicula ut lacinia cursus,
              posuere nec turpis. Praesent bibendum turpis ut leo porttitor, sit
              amet tempor turpis convallis. Nullam nec pharetra turpis, sed
              elementum arcu. Nullam venenatis sit amet justo id euismod. Nulla
              dictum ligula commodo venenatis luctus. Duis at enim suscipit,
              luctus nunc eu, varius lacus. Pellentesque habitant morbi
              tristique senectus et netus et malesuada fames ac turpis egestas.
              Mauris eu lacus congue, lacinia leo non, facilisis tortor. Nam
              ultricies enim at dolor porta, at malesuada lorem luctus.
            </p>
          </div>
          <div class="orange"></div>
        </div>
      </section>
      <!-- .section-message  -->
      <section class="dropdown">
        <div class="container">
          <div class="dropdown-content">
            <a><img src="../../img/button_plus.svg" alt="plus button" /></a>
            <h5>
              Duis at enim suscipit, luctus nunc eu, varius lacus. Pellentesque
              habitant morbi tristique senectus et netus et malesuada fames ac
              turpis egestas. Mauris eu lacus congue ...
            </h5>
          </div>
        </div>
      </section>

      <!-- .section-dropdown -->
      <section class="journey">
        <div class="container">
          <div class="ids-journey">
            <div class="title">
              <h3>
                IDS&apos;s Knowledge Management Journey: Two Decades of
                Learning, Engagement, and Vision
              </h3>
            </div>
            <div class="description">
              <h5>
                The first president of Asian Development Bank (ADB), Takeshi
                Watanabe, often emphasized that the bank was an institution that
                “learns before it teaches.”
              </h5>
              <p>
                Morbi sapien ex, tincidunt ut tincidunt et, luctus ac massa. In
                non dapibus ante. Nulla facilisi. Nunc sollicitudin viverra nibh
                nec malesuada. Maecenas elementum, magna eu semper efficitur,
                mauris lacus rhoncus orci, nec suscipit augue est ac nulla.
                Maecenas porttitor aliquet augue eget tincidunt. Donec tempor,
                lacus at accumsan accumsan, purus nisl malesuada sapien, nec
                placerat augue velit ut felis. Duis at enim suscipit, luctus
                nunc eu, varius lacus. Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas. Mauris
                eu lacus congue, lacinia leo non, facilisis tortor.
              </p>
            </div>
          </div>
          <div class="years-bar">
            <div class="year1">
              <div class="circle"></div>
              <a href="#">1966-2004</a>
            </div>
            <div class="year2">
              <div class="circle"></div>
              <a href="#">1966-2004</a>
            </div>
            <div class="year3">
              <div class="circle"></div>
              <a href="#">1966-2004</a>
            </div>
            <div class="year4">
              <div class="circle"></div>
              <a href="#">1966-2004</a>
            </div>
            <div class="year5">
              <div class="circle"></div>
              <a href="#">1966-2004</a>
            </div>
          </div>
          <div class="slides">
            <div class="slide-info">
              <img
                src="../../img/stage-1-icon.svg"
                alt="connected people to a light bulb"
              />
              <h3>Stage 1: The Vision</h3>
              <h4>An institution that learns before it teaches</h4>
              <p>
                Strengthening knowledge management becomes an imperative as
                countries demand IDS offer not just lending, but also bespoke
                knowledge solutions.
              </p>
              <a href="#"
                >Read More <img src="../../img/arrow.svg" alt="arrow right"
              /></a>
            </div>
            <div class="slide-image">
              <img
                class="meeting"
                src="../../img/cosmonaut-meeting.svg"
                alt="cosmonaut meeting on the moon"
              />
              <img class="sky" src="../../img/sky.svg" alt="galaxy" />
            </div>
          </div>
        </div>
      </section>
      <!-- .section-journey -->
      <section class="space">
        <div class="container">
          <div class="space-content">
            <div class="space-text">
              <h2>Space</h2>
              <p>
                Aliquam ornare mauris ex, sed tincidunt neque facilisis id.
                Maecenas vitae ante nec massa varius volutpat. Interdum et
                malesuada fames ac ante ipsum primis in faucibus. Praesent
                congue orci et nunc ultricies dapibus. Aliquam condimentum
                porttitor nulla. Phasellus suscipit risus sit amet mi interdum
                faucibus. Quisque egestas lorem ante, id eleifend velit mattis
                nec.
              </p>
              <a href="#"
                >View All
                <img
                  class="arrow"
                  src="../../img/arrow-blue.svg"
                  alt="arrow right"
              /></a>
            </div>
            <div class="orbit">
              <div class="circleBig">
                <div class="moon"></div>
                <div class="circleSmall">
                  <img src="../../img/space1-image.svg" alt="plants" />
                  <p>Space 1</p>
                  <p>01/12</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- .section-space  -->
      <section class="theIDS">
        <div class="container">
          <div class="theIDS-container">
            <div class="theIDS-text">
              <h2>The IDS</h2>
              <p>
                Donec tristique dolor non lectus tincidunt, a lacinia libero
                suscipit. Quisque ultrices ex lectus, non lobortis nibh volutpat
                at. Vivamus auctor urna at nulla vulputate ultricies. Aliquam
                dictum est elit, a imperdiet ante sollicitudin et. Suspendisse
                accumsan non mauris vitae cursus. Nullam posuere dignissim arcu,
                quis dictum quam tempus eget. Sed scelerisque tortor eu
                hendrerit aliquam. Nullam maximus auctor vulputate. Maecenas in
                finibus metus.
              </p>
            </div>
            <div class="theIDS-image">
              <img
                src="../../img/peeing-cosmonaut.svg"
                alt="peeing astronaut"
              />
            </div>
          </div>
        </div>
      </section>
      <!-- .section-theIDS  -->
      <section class="podcasts">
        <div class="container">
          <div class="podcasts-content">
            <h5>
              To learn even more about IDS&apos;s knowledge solutions, check out
              IDS&apos;s TED-x style talks and podcasts.
            </h5>
            <a class="btn primary" href="#">view podcasts</a>
          </div>
        </div>
      </section>
      <!-- .Podcasts  -->
    </main>
    <!-- .main-wrapper -->
    <footer class="footer">
      <div class="container">
        <div class="footer-content">
          <div class="footer-left-text">
            <h4>About IDB Knowledge Advisory Services Center</h4>
            <p>
              Sed aliquet eleifend dapibus. Aliquam erat volutpat. Aliquam erat
              volutpat. Curabitur ante lorem, vehicula ut lacinia cursus,
              posuere nec turpis. Praesent bibendum turpis ut leo porttitor, sit
              amet tempor turpis convallis. Nullam nec pharetra turpis, sed
              elementum arcu. Nullam venenatis sit amet justo id euismod. Nulla
              dictum ligula commodo venenatis luctus. Duis at enim suscipit,
              luctus nunc eu, varius lacus. Pellentesque habitant morbi
              tristique senectus et netus et malesuada fames ac turpis egestas.
              Mauris eu lacus congue, lacinia leo non, facilisis tortor. Nam
              ultricies enim at dolor porta, at malesuada lorem luctus. Maecenas
              id porttitor magna. Suspendisse aliquet semper nulla, in aliquam
              elit auctor quis. Vestibulum vel turpis nibh.
            </p>
            <button>
              <a href="/">contact us <img src="../../img/arrow.svg" /></a>
            </button>
          </div>
          <div class="footer-right-text">
            <h4>About IDB</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
              lectus nulla, mollis ac facilisis id, auctor sed justo. Sed ut
              consectetur massa. Fusce tristique semper justo, ac porta tortor
              consectetur a. Ut ullamcorper vel eros non efficitur. Fusce eu
              tortor ipsum. Suspendisse varius interdum dapibus. Suspendisse
              potenti.
            </p>
            <div class="copyright">
              <div>© 2021 Insomniac Design Study</div>
              <div>
                Website created by <a href="/"> Insomniac Design, Inc. </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- .main-footer -->

    <script src="js/app.js"></script>
  </body>
</html>
