@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ideal Sans";
  src: url("/fonts/IdealSans-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* MercuryTextG2 fonts */
@font-face {
  font-family: "Mercury Text G2";
  src: url("/fonts/MercuryTextG2-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mercury Text G2";
  src: url("/fonts/MercuryTextG2-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mercury Text G2";
  src: url("/fonts/MercuryTextG2-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
